.menu{
    box-sizing: border-box;
    color: white;
    background-color: blue;
    border-style: solid;
    width: 10%;
    float: left;

}

.content {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    background-color: orange;
    color: white;
    float: left;
}

.topics {
    width: 10%;
    background-color: red;
    box-sizing: border-box;
    color: white;
    float: left;
}